.sectionDesigns {
  font-family: 'Open Sans', sans-serif;
  color: $gunmetal;
  margin-bottom: 10px;
  .collapsible-title {
    margin: 27px 20px 11px 0;

    .fa-object-ungroup {
      margin: 0 10px 0 0;
      width: 21px;
      height: 18px;
      color: $dull-orange;
      position: relative;
      top: 2px;
    }
   

		.arrow {
			height: 22px;
			position: relative;
			bottom: 8px;
			padding: 10px;
		}
    .color {
      display: flex;
      justify-content: space-between;
      font-weight: normal;
      font-size: 14px;
      margin: 0 -10px 0 15px;
      @media (min-width: 768px) {
        margin: 0 -10px 0 0;
      }
    }
    .palette {
      margin-top: 10px;
      .check {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        border: none;
        .check_one {
          display: grid;
          grid-template-columns: 1fr 1fr;
          margin-bottom: 20px;
        }
        .one {
          grid-column: 1/2;
          height: 14px;
          margin-left: auto;
          margin-right: 10px;
        }
      }
      .paletteA {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .palette_1 {
          background-color: $color-one-palette-one;
          height: 25px;
          width: 30px;
        }
        .palette_2 {
          background-color: $color-two-palette-one;
          height: 25px;
          width: 30px;
        }
        .palette_3 {
          background-color: $color-three-palette-one;
          height: 25px;
          width: 30px;
        }
      }
      .paletteB {
        display: grid;
        grid-column: 2/3;
        grid-template-columns: 1fr 1fr 1fr;
        .palette_1 {
          background-color: $color-one-palette-two;
          height: 25px;
          width: 30px;
        }
        .palette_2 {
          background-color: $color-two-palette-two;
          height: 25px;
          width: 30px;
        }
        .palette_3 {
          background-color: $color-three-palette-two;
          height: 25px;
          width: 30px;
        }
      }
      .paletteC {
        display: grid;
        grid-column: 2/3;
        grid-template-columns: 1fr 1fr 1fr;
        .palette_1 {
          background-color: $color-one-palette-three;
          height: 25px;
          width: 30px;
        }
        .palette_2 {
          background-color: $color-two-palette-three;
          height: 25px;
          width: 30px;
        }
        .palette_3 {
          background-color: $color-three-palette-three;
          height: 25px;
          width: 30px;
        }
      }
      .paletteD {
        display: grid;
        grid-column: 2/3;
        grid-template-columns: 1fr 1fr 1fr;
        .palette_1 {
          background-color: $color-one-palette-four;
          height: 25px;
          width: 30px;
        }
        .palette_2 {
          background-color: $color-two-palette-four;
          height: 25px;
          width: 30px;
        }
        .palette_3 {
          background-color: $color-three-palette-four;
          height: 25px;
          width: 30px;
        }
      }
      .paletteE {
        display: grid;
        grid-column: 2/3;
        grid-template-columns: 1fr 1fr 1fr;
        .palette_1 {
          background-color: $color-one-palette-five;
          height: 25px;
          width: 30px;
        }
        .palette_2 {
          background-color: $color-two-palette-five;
          height: 25px;
          width: 30px;
        }
        .palette_3 {
          background-color: $color-three-palette-five;
          height: 25px;
          width: 30px;
        }
      }
      .paletteF {
        display: grid;
        grid-column: 2/3;
        grid-template-columns: 1fr 1fr 1fr;
        .palette_1 {
          background-color: $color-one-palette-six;
          height: 25px;
          width: 30px;
        }
        .palette_2 {
          background-color: $color-two-palette-six;
          height: 25px;
          width: 30px;
        }
        .palette_3 {
          background-color: $color-three-palette-six;
          height: 25px;
          width: 30px;
        }
      }
    }
  }

  .line1 {
    margin: 15px 20px 0 0;
    height: 1px;
    background-color: #d8d8d8;
  }
}
