

.boxt {
  display: flex;
  &__title {
    color: $gunmetal;
    font-size: 18px;
    text-transform: uppercase;
  }
  .aArrow {
    margin-left: auto;
    .arrow {
      height: 22px;
      position: relative;
      bottom: 8px;
      padding: 10px;
    }
  }
}
.quest {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: none;
  color: $gunmetal;
  padding: 0;
  &__label {
    font-size: 14px;
    margin: 10px 19px 10px 0;
    grid-column: span 2;
  }
  &__input {
    grid-column: span 2;
    padding: 5px;
    border: solid $hospital-green 1px;
  }

  &__secondfield {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
  }

  &__button {
    margin: 20px 0px 10px 5px;
    font-size: 14px;
    background-color: $dull-orange;
    border: $dull-orange 1px;
    border-radius: 3px;
    color: white;
    padding: 5px 10px 0 10px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
    min-width: max-content;
    &:hover {
      color: #fff;
      background-color: #f0935e;
      transition: all 0.4s ease-in-out;
      transform: scale(1.1);
    }
    &--window {
      width: 30px;
      height: 30px;
      margin: 20px 0px 10px 30px;
      border: solid $hospital-green 1px;
      background-size: cover;
      min-width: 30px;
    }
  }
}

.keyfill {
  margin: 0 10px 0 0;
  margin-top: 3px;
  font-size: 18px;
  color: $dull-orange;
  height: 18px;
  width: 21px;
}
.line1 {
  margin: 15px 0 0 0;
  height: 1px;
  background-color: #d8d8d8;
}

.action__hiddenField {
  display: none;
}
