.sectionDesigns {
  font-family: 'Open Sans', sans-serif;
  color: $gunmetal;
  display: block;
  .collapsible-title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    .fa-share-alt {
      margin: 0 10px 0 0;
      width: 21px;
      height: 18px;
      position: relative;
      top: 2px;
      color: $dull-orange;
    }
    .a {
      display: flex;
      .arrow3 {
        height: 22px;
        position: relative;
        bottom: 8px;
        padding: 10px;
        margin-left: auto;
      }
    }
  }
  .button {
    display: flex;
    justify-content: center;

    .button1 {
      align-items: center;
      box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
      display: flex;
      justify-content: space-evenly;
      transform: scale(1.1);
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      height: 50px;
      width: 200px;
      font-size: 18px;
      font-weight: 600;
      color: #fff;
      margin: 30px;
      text-align: center;
      border: none;
      background-size: 300% 100%;
      border-radius: 12px;
      transition: all 0.4s ease-in-out;
      background-image: linear-gradient(
        to right,
        #ee6bc9,
        #30aef1,
        #fddc39,
        $dull-orange
      );
      box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);

      &:hover {
        background-position: 100% 0;
        transition: all 0.4s ease-in-out;
      }

      &:focus {
        outline: none;
      }
      @media (min-width: 768px) {
        margin-bottom: 10px; /*Quitar cuando usemos JS*/
      }
    }
    .target {
      width: 25px;
      height: 22px;
    }
  }
  .line3 {
    margin: 15px 0 0 0;
    height: 1px;
    background-color: #d8d8d8;
  }
  .line4 {
    margin: 10px 20px 0 0;
  }
  .hiddenLine {
    display: none;
  }
  .share {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-transform: none;
    .title {
      margin-bottom: 5px;
      font-size: 18px;
      margin-left: 0;
    }
    .url {
      color: $dull-orange;
      font-size: 12px;
      text-align: center;
    }
    .button {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: #00a0f5;
      margin-top: 13px;
      height: 30px;
      width: auto;
      border-radius: 3px;
      border: 0;
      box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
      &:hover {
        color: #fff;
        background-color: #5fbaeb;
        transition: all 0.4s ease-in-out;
        transform: scale(1.1);
      }
      @media (min-width: 768px) {
        margin-bottom: 10px; /*Quitar cuando usemos JS*/
      }
      .fab {
        margin-left: 10px;
        display: flex;
        color: #fff;
      }
      .twitter {
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 14px;
        margin: 0 10px 0 10px;
        color: #fff;
      }
    }
  }
  .hiddenTwitter {
    display: none;
  }
}
