<section className="sample">
	<button className="sample__reset js-resetButton" type="reset">
		<i className="far fa-trash-alt"></i>
		Reset
	</button>
	<article className="sample__card js_card_result">
		<hgroup className="sample___card--title">
			<h2 className="sample__card--title--name js-nameCard js-colorTitle">
				Nombre Apellido
			</h2>
			<h3 className="sample__card--title--job js-jobCard js-colorSubtitle">
				Front-end developer
			</h3>
		</hgroup>
		<!--
    <img
      className="sample__card--img js__profile-image"
      src="./assets/images/picrandom.jpg"
      alt="Imagen elegida por el usuario"
    />
  -->
		<div className="sample__card--img js__profile-image" style="background-image: url('./assets/images/picrandom.jpg')">
		</div>
		<ul className="sample__card--contact">
			<li className="item item1">
				<a href="" target="_blank" title="Llamar" className="itemLink js-colorIcon js-phoneCard">
					<i className="fas fa-mobile-alt"></i>
				</a>
			</li>
			<li className="item item2">
				<a href="" target="_blank" className="itemLink js-colorIcon js-emailCard"><i
						className="far fa-envelope"></i></a>
			</li>

			<li className="item item3">
				<a href="" target="_blank" className="itemLink js-colorIcon js-linkedin">
					<i className="fab fa-linkedin-in"></i></a>
			</li>

			<li className="item item4">
				<a href="" target="_blank" className="itemLink js-colorIcon js-githubcard">
					<i className="fab fa-github-alt"></i></a>
			</li>
		</ul>
	</article>
</section>