<section className="sectionDesigns">
	<article className="collapsible-title ">
		<div className="a js-headerClick">
			<p><i className="fas fa-share-alt"></i>Comparte</p>
			<a className="aArrow js-arrow"> <img className="arrow" src="./assets/images/arrowx2.png" alt="" /></a>
		</div>

		<div className="hidden js-collapse">
			<article className="button">
				<button className="button1 js_create_btn">
					<img className="target" src="./assets/images/target.png" alt="" />
					<p>Crear tarjeta</p>
				</button>
			</article>
			<div className="line3"></div>
			<article className="share js-shareTwitter hiddenTwitter">
				<h1 className="title js-title">La tarjeta ha sido creada:</h1>
				<a className="url js-url" target="_blank"></a>
				<button className="button js-buttonTwitterOne">
					<a href="" target="_blank" className="js-buttonTwitter">
						<i className="fab fa-twitter">
							<p className="twitter js-shareTwitter"> Compartir en twitter</p>
						</i></a>
				</button>
			</article>
	</article>
	<div className="line3 line4 js-line"></div>
</section>