.header {
  width: 100%;
  height: 190px;
  background-color: $white-two;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__menu--img {
    height: 120px;
    padding-left: 40px;
  }
}
