.page {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 40px;
  }
}
.formMarginGeneral {
  margin: 0 20px;
  @media (min-width: 768px) {
    margin: 0;
  }
}
.hidden {
  display: none;
}
.open {
	display: block;
}

.collapsable-close {
  display: none;
}

.up {
	margin-left: auto;
	
}

.down {
	margin-left: auto;
  transform: rotate(180deg) translateY(21px);
}
