// fonts
body {
  font-family: 'Open Sans', sans-serif;
}

// colors
$dull-orange: #b479ef;
$dark-green-blue: #114e4e;
$gunmetal: #0768e7;
$dirty-blue: #438792;
$brownish-grey: #6b6b6b;
$white-two: #fff;
$white-four: #f5f5f5;
$hospital-green: #a2deaf;
$dried-blood: #420101;
$rusty-red: #bd1010;
$tomato: #b479ef;
$slate: #3e5b65;
$faded-orange: #eab052;
$light-grey-blue: #a0c0cf;
$black: #000;
$pinkish-grey: #c5c5c5;
$border: #d8d8d8;
$color-one-palette-one: #114e4e;
$color-two-palette-one: #438792;
$color-three-palette-one: #a2deaf;
$color-one-palette-two: #420101;
$color-two-palette-two: #bd1010;
$color-three-palette-two: #e95626;
$color-one-palette-three: #3e5b65;
$color-two-palette-three: #eab052;
$color-three-palette-three: #a0c0cf;
$color-one-palette-four: #fa85e1;
$color-two-palette-four: #b1f6e3;
$color-three-palette-four: #ecfd50;
$color-one-palette-five: #2112f7;
$color-two-palette-five: #a61d39;
$color-three-palette-five: #20bebf;
$color-one-palette-six: #7632f5;
$color-two-palette-six: #f6ff72;
$color-three-palette-six: #5ce887;
