.sample {
  background: linear-gradient(#acebb1, #487c41);
  padding: 38px 35px 40px 45px;
  order: 2;
  @media (min-width: 768px) {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
  }
  &__reset {
    width: 75px;
    height: 30px;
    background-color: inherit;
    border: solid 1px $white-two;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 12px;
    color: $gunmetal;
    margin-bottom: 20px;
    @media (min-width: 768px) {
      transform: translateX(-84px);
      // margin-right: auto;
    }
  }

  &__card {
    width: 240px;
    // height: 330px;
    background-color: $white-two;
    border-radius: 2px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
    padding-top: 20px;

    &--title {
      &--name {
        padding-left: 15px;
        padding-bottom: 4px;
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
        color: $dark-green-blue;
        border-left: $dirty-blue solid 5px;
      }

      &--job {
        padding-left: 15px;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 20px;
        border-left: $dirty-blue solid 5px;
      }
    }

    &--img {
      width: 240px;
      height: 200px;
      background-size: cover;
    }

    &--contact {
      list-style: none;
      display: flex;
      // gap: 10px;
      padding: 10px 0 12px 20px;
      .itemLink {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: $dark-green-blue;
        height: 32px;
        margin-right: 10px;
        width: 32px;
        border: solid #a2deaf 2px;
        border-radius: 18px;

        .item {
          // width: 32px;
          // height: 32px;
          font-size: 18px;
        }

        .item1 {
          padding: 3px 10px;
        }

        .item2,
        .item3,
        .item4 {
          padding: 3px 7px;
        }
      }
    }
  }
}

.palette1 {
  .sample__card--title--name {
    color: $darkgreenblue;
    border-left: $color-two-palette-one solid 5px;
  }
  .js-paletteOneSubtitle {
    border-left: $color-two-palette-one solid 5px;
  }
  .sample__card--contact .js-paletteOneIcon {
    color: $color-one-palette-one;
    border: solid 2px $color-three-palette-one;
  }
}
.palette2 {
  .sample__card--title--name {
    color: $color-one-palette-two;
    border-left: $color-two-palette-two solid 5px;
  }
  .js-paletteOneSubtitle {
    border-left: $color-two-palette-two solid 5px;
  }
  .sample__card--contact .js-paletteOneIcon {
    color: $color-one-palette-two;
    border: solid 2px $color-three-palette-two;
  }
}
.palette3 {
  .sample__card--title--name {
    color: $color-one-palette-three;
    border-left: $color-two-palette-three solid 5px;
  }
  .js-paletteOneSubtitle {
    border-left: $color-two-palette-three solid 5px;
  }
  .sample__card--contact .js-paletteOneIcon {
    color: $color-one-palette-three;
    border: solid 2px $color-three-palette-three;
  }
}
.palette4 {
  .sample__card--title--name {
    color: $color-one-palette-four;
    border-left: $color-two-palette-four solid 5px;
  }
  .js-paletteOneSubtitle {
    border-left: $color-two-palette-four solid 5px;
  }
  .sample__card--contact .js-paletteOneIcon {
    color: $color-one-palette-four;
    border: solid 2px $color-three-palette-four;
  }
}
.palette5 {
  .sample__card--title--name {
    color: $color-one-palette-five;
    border-left: $color-two-palette-five solid 5px;
  }
  .js-paletteOneSubtitle {
    border-left: $color-two-palette-five solid 5px;
  }
  .sample__card--contact .js-paletteOneIcon {
    color: $color-one-palette-five;
    border: solid 2px $color-three-palette-five;
  }
}
.palette6 {
  .sample__card--title--name {
    color: $color-one-palette-six;
    border-left: $color-two-palette-six solid 5px;
  }
  .js-paletteOneSubtitle {
    border-left: $color-two-palette-six solid 5px;
  }
  .sample__card--contact .js-paletteOneIcon {
    color: $color-one-palette-six;
    border: solid 2px $color-three-palette-six;
  }
}
