.title {
	color: aquamarine;
}
.sample {
	background: linear-gradient(#acebb1, #487c41);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	order: 2;
	@media (min-width: 768px) {
		margin-bottom: 20px;
		border-radius: 6px;
	}
}

.sample__card {
	width: 240px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
	padding-top: 20px;
}

.sample__card--title--name {
	padding-left: 15px;
	padding-bottom: 4px;
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	color: #114e4e;
	border-left: #438792 solid 5px;
}
.sample__card--title--job {
	padding-left: 15px;
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 20px;
	border-left: #438792 solid 5px;
}

.sample__card--contact {
	list-style: none;
	display: flex;
	padding: 10px 0 12px 20px;
}
.sample__card--img {
	width: 240px;
	height: 200px;
	background-size: cover;
}
.itemLink {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	color: #114e4e;
	height: 32px;
	margin-right: 10px;
	width: 32px;
	border: solid #a2deaf 2px;
	border-radius: 18px;
}
