.title {
	color: aquamarine;
}

.sample__card {
	width: 240px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
	padding-top: 20px;
}

.sample__card--title--name {
	padding-left: 15px;
	padding-bottom: 4px;
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	color: #114e4e;
	border-left: #438792 solid 5px;
}
.sample__card--contact {
	list-style: none;
	display: flex;
	padding: 10px 0 12px 20px;
}
